@using PagedList
@using PagedList.Mvc

@model PagedList.IPagedList<MVCDemoV01.Models.Customers>

@{
    ViewBag.Title = "客戶資料列表";
}
<link href="~/Content/PagedList.css" rel="stylesheet">
<h2>客戶資料列表</h2>
<p>
    @Html.ActionLink("客戶資料新增", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CustomerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ContactTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Fax)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fax)
            </td>
            <td style="white-space:nowrap;">
                <a href="@Url.Action("Detail")?CustomerID=@item.CustomerID" class="btn btn-info">明細</a> 
                <a href="@Url.Action("Edit")?CustomerID=@item.CustomerID" class="btn btn-info">修改</a>
                <a href="@Url.Action("Delete")?CustomerID=@item.CustomerID" class="btn btn-danger" onclick="return confirm('是否確認刪除');">刪除</a>
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page}))

